#!/usr/bin/env python

from __future__ import absolute_import
from __future__ import print_function
from __future__ import unicode_literals

import pexpect
import re
import sys

child = pexpect.spawn('/usr/bin/env', ['sentry', '--config=/home/{{ sentry_user }}/.sentry/sentry.conf.py', 'createsuperuser', '--username={{ sentry_superuser.name }}', '--email={{ sentry_superuser.email }}'])
if (child.isalive()):
  child.logfile = sys.stdout
  child.expect('Password:.*')
  child.send('{{ sentry_superuser.password }}\r')
  child.expect('Password .*')
  child.sendline('{{ sentry_superuser.password }}\r')
  child.kill(1)
else:
  print('error calling sentry')