[program:sentry-app]
directory={{ sentry_home }}/
command={{ sentry_home }}/env/bin/sentry --config={{ sentry_home }}/.sentry/sentry.conf.py start http
autostart=true
autorestart=true
redirect_stderr=true
stopsignal=QUIT
stdout_logfile={{ sentry_home }}/app.log
stderr_logfile={{ sentry_home }}/app.error.log
user={{ sentry_user }}

[group:sentry]
programs=sentry-app
